:root {
  --color-bg: #f5f7fa;
  --color-green: #6fcfc5;
  --color-white: #ffffff;
  --color-black: #000000;
}

html,
body {
  height: 100%;
}

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button {
  cursor: pointer;
}

#root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: center;
  background-color: var(--color-white);
  box-shadow: 0 50px 100px rgba(48, 72, 87, 0.05),
    0 5px 15px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  width: 1012px;
  height: 600px;
}

.main_content {
  height: inherit;
}

.main_content > img {
  width: 759px;
  height: 600px;
}

.rectangle {
  width: 160px;
  height: 160px;
  border-inline: 2px solid var(--color-green);
  border-radius: 5px;
  position: absolute;
  top: calc(50% - 80px);
  left: calc(50% - 80px);
  z-index: 0;
  cursor: pointer;
  overflow: hidden;
}

.rectangle > img {
  width: 759px;
  height: 600px;
}

.rectangle_outside {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-black);
  opacity: 0.5;
}

.side_content {
  padding: 15px;
  overflow-y: auto;
}

.side_content > img {
  width: 120px;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 4px;
  object-fit: cover;
  box-shadow: 0 50px 100px rgba(48, 72, 87, 0.05),
    0 5px 15px rgba(0, 0, 0, 0.05);
}

.side_content > .row {
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.side_content > .row button {
  background-color: transparent;
  height: 100px;
  border: none;
  padding: 0;
}
.side_content > .row button:focus {
  outline: none;
}

.side_content > .row img {
  width: 100%;
  height: 100px;
  border-radius: 4px;
  object-fit: cover;
  box-shadow: 0 50px 100px rgba(48, 72, 87, 0.05),
    0 5px 15px rgba(0, 0, 0, 0.05);
}

.ReactCrop__image {
  border-radius: 5px 0 0 5px;
}

.ReactCrop__crop-selection {
  border-image-source: none;
  border: 2px solid var(--color-green);
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 9999em rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 9999em rgb(255, 255, 255, 0.5);
}

.ReactCrop__drag-handle::after {
  border: 0;
  background-color: transparent;
  width: 8px;
  height: 8px;
}

.ReactCrop__drag-handle.ord-nw::after {
  border-left: 2px solid var(--color-green);
  border-top: 2px solid var(--color-green);
  border-top-left-radius: 80%;
}
.ReactCrop .ord-nw::after {
  top: -2px;
  left: -2px;
}
.ReactCrop__drag-handle.ord-ne::after {
  border-right: 2px solid var(--color-green);
  border-top: 2px solid var(--color-green);
  border-top-right-radius: 80%;
}
.ReactCrop .ord-ne::after {
  top: -2px;
  right: -2px;
}
.ReactCrop__drag-handle.ord-se::after {
  border-right: 2px solid var(--color-green);
  border-bottom: 2px solid var(--color-green);
  border-bottom-right-radius: 80%;
}
.ReactCrop .ord-se::after {
  bottom: -2px;
  right: -2px;
}
.ReactCrop__drag-handle.ord-sw::after {
  border-left: 2px solid var(--color-green);
  border-bottom: 2px solid var(--color-green);
  border-bottom-left-radius: 80%;
}
.ReactCrop .ord-sw::after {
  bottom: -2px;
  left: -2px;
}
.ReactCrop__drag-handle.ord-n::after {
  border-top: 2px solid var(--color-green);
}
.ReactCrop .ord-n::after {
  top: -2px;
}
.ReactCrop__drag-handle.ord-s::after {
  border-bottom: 2px solid var(--color-green);
}
.ReactCrop .ord-s::after {
  bottom: -2px;
}
.ReactCrop__drag-handle.ord-e::after {
  border-right: 2px solid var(--color-green);
}
.ReactCrop .ord-e::after {
  right: -2px;
}
.ReactCrop__drag-handle.ord-w::after {
  border-left: 2px solid var(--color-green);
}
.ReactCrop .ord-w::after {
  left: -2px;
}

.add_button {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 10px;
}

.add_button > button {
  height: 100px;
  padding: 25px;
  border: 0;
  box-shadow: 0 50px 100px rgba(48, 72, 87, 0.05),
    0 5px 15px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  background-color: #e3e3e3;
}

.add_button > button:hover {
  box-shadow: 0 50px 100px rgba(48, 72, 87, 0.06),
    0 5px 15px rgba(0, 0, 0, 0.06);
  background-color: #d3d3d3;
}

.add_button > button > img {
  filter: opacity(0.5);
}

.add_button > button:hover > img {
  filter: opacity(1);
}

.add_button > img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}
